body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
h1 {
  font-family: Montserrat;
  color: white;
  margin: 7rem 0rem 0rem 0rem;
  font-size: 3rem;
}
hr {
    margin: 20px auto;
    color: darkorange;
    border: 3px solid darkorange;
    max-width: 100px;
    opacity: 1;
}
button {
  font-family: Montserrat;
  font-size: 1rem;
  color: white;
  background: darkorange;
  padding: 1rem 1.5rem;
  border-radius: 25px;
  border-style: hidden;
  transition: all 300ms ease;
}
button:hover
{
  padding: 1rem 6rem;
  background-color: orangered;
}
.buffer {
  height: 27rem;
}